@import url('../fonts/stylesheet.css');

.ksv--pwd-item:hover .ksv--display-flex {
  display: flex;
  flex-direction: column;
}

.ksv--dropdown:hover .ksv--dropdown-item {
  display: block;
}

.strong {
  @apply text-green-600;
}

.medium {
  @apply text-yellow-600;
}

.weak {
  @apply text-red-600;
}

#toggle-switch:checked {
  background-image: none;
}

#toggle-switch::after {
  content: '';
  @apply absolute top-0 left-0 w-6 h-6 transition duration-200 scale-50 rounded-full bg-ksv-black;
}

#toggle-switch:checked::after {
  @apply translate-x-6 bg-white;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #202227;
  border-radius: 10px;
}

.react-confirm-alert-svg {
  display: none !important;
}
